.App {
  text-align: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  padding: 100px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button-style {
  margin-top: 20px;
  background-color: transparent;
  color: #fff;
  border: 0px solid transparent;
  border-radius: 12px;
  font-size: 32px;
  font-weight: bold;
  cursor: pointer;
}